<?xml version="1.0" encoding="UTF-8"?>
<appSettings>
  <!--<add key="connString" value="Data Source=GBRCZW1;Persist Security Info=false;User ID=sa;Password=sql2012;Initial Catalog=CEP" />-->
  <add key="connString" value="Data Source=KEVINA-2018\SQL2016;Persist Security Info=false;User ID=sa;Password=Cargas123!;Initial Catalog=ChickHen" /> 
  <add key="doNotLoadOnFindSQLDropDown" value="false" />
  <add key="doNotLoadFindSQLResultsOnGet" value="false" />
  <add key="ApplicationSchema" value="dbo" />
  <add key="mobileLayoutSize" value="small"/>

  <!--<add key="SecurityMethod" value="DatabaseSecurityProvider" />-->
  
  <!--<add key="xmlScreenList" value="solution\xml\menuXML\screenXmls\xmlScreenList.xml"/>
  <add key="fullScreenXml" value="solution\xml\menuXML\screen.xml"/>-->
  
  <!-- Site Header Settings -->
  <add key="HideSiteLogo" value="false" />
  <add key="SiteLogo" value="solution\images\eggchick.png"/>
  <add key="HideSiteTitle" value="false" />
  <add key="SiteTitle" value="ChickHen" />
  <add key="SiteTitleData" value="exec SiteTitle_Get '|UserName|'"/>
  <add key="websiteTitle" value="ChickHen"/>
  <add key="IncludeUserNameInMenu" value="false"/>
  
  <!-- Choose what displays on small screens. Valid values are: title, logo, both -->
  <add key="XSHeaderDisplay" value="logo" />

  <!--Login Label Settings-->
  <add key="UserNameLabel" value="Email"/>
  <add key="PasswordLabel" value="Password"/>
  <add key="UserNameFooter" value=""/>
  <add key="PasswordFooter" value="Forgot your password? Please call 717-665-8253 to request a new one."/>
  <add key="SignInFooter" value="If you have an account with Kreider Farms, you may call 717-449-3402 to request a login ID."/>
  
  <!-- Begin Miscellaneous Images -->
  <!--<add key="Magnifier" value="images\Magnifier.png" />-->
  <add key="upload" value="images/plus.png"/>
  <!-- End Miscellaneous Images -->
  
  <!-- Uncomment to Disable Security -->
  <!-- <remove key="SecurityMethod" /> -->
  
  <!--Images and Icons-->
  <add key="edit" value="mode_edit"/>
  <add key="delete" value="delete"/>
  <add key="copy" value="layers"/>
  <add key="attachfile" value="attach_file" />
  <add key="money" value="attach_money" />
  
  <!-- Begin Support Settings -->
  <add key="LogActivity" value="false" />
  <add key="LogActivityVerbose" value="false" />
  <add key="LogExceptions" value="false" />
  <add key="LogValidationSqlExceptions" value="false" />
  <add key="LogRequestPerformance" value="false" />
  <add key="LogRequestResourcePerformance" value="false" />
  <add key="LogSqlCallPerformance" value="false" />
  <add key="LogFileReadPerformance" value="false" />
  <add key="LogOtherPerformance" value="false" />
  <add key="LogPerformanceVerbose" value="false" />
  <add key="LogPerformanceLogPerformance" value="false" />
  <!-- End Support Settings -->
</appSettings>
