<?xml version="1.0" encoding="UTF-8"?>
<!--  AUTHENTICATION 
    This section sets the authentication policies of the application. Possible modes are "Windows", 
    "Forms", "Passport" and "None"
-->
<authentication mode="Windows">
  <!--<forms loginUrl="~/Login.aspx" timeout="2880" defaultUrl="~/" />-->
</authentication>