<div>
    <a ng-if="thisRecord.showUp=='1'" name="ChecklistTemplate_DetailID" id="ChecklistTemplate_DetailID" ng-click="data.executeCommand('ChecklistTemplate_Detail_SortUp',thisRecord)" href="#">
        <i id="ChecklistTemplate_DetailID" class="csb-center-icon material-icons ng-binging ng-scope">arrow_drop_up</i>
    </a>
    <a ng-if="thisRecord.showDown=='1'" name="ChecklistTemplate_DetailID" id="ChecklistTemplate_DetailID" ng-click="data.executeCommand('ChecklistTemplate_Detail_SortDown',thisRecord)" href="#">
        <i id="ChecklistTemplate_DetailID" class="csb-center-icon material-icons ng-binging ng-scope">arrow_drop_down</i>
    </a>
</div>