<div style="width:96px;" class="center" >
    <a name="LinkValue" ng-if="thisRecord.newRecord=='0'" id="LinkValue" href="Form.html?screenID=ChecklistTemplate_Detail&amp;p={{thisRecord.ChecklistTemplate_DetailID}}&amp;p={{thisRecord.ChecklistTemplateID}}">
        <i id="LinkValue" class="center material-icons ng-binging ng-scope">mode_edit</i>
    </a>
    <a name="LinkValue" ng-if="thisRecord.newRecord=='1'" id="LinkValue" href="runProcess.aspx?screenID=NewChecklistTemplate_Detail&amp;p={{thisRecord.ChecklistTemplateID}}&amp;p={{thisRecord.Checklist_DetailTypeID}}">
        <i id="LinkValue" class="center material-icons ng-binging ng-scope">control_point</i>
    </a>
</div>