<div>
    <a ng-if="thisRecord.showUp=='1'" name="FlockChecklist_DetailID" id="FlockChecklist_DetailID" ng-click="data.executeCommand('FlockChecklist_Detail_SortUp',thisRecord)" href="#">
        <i id="FlockChecklist_DetailID" class="csb-center-icon material-icons ng-binging ng-scope">arrow_drop_up</i>
    </a>
    <a ng-if="thisRecord.showDown=='1'" name="FlockChecklist_DetailID" id="FlockChecklist_DetailID" ng-click="data.executeCommand('FlockChecklist_Detail_SortDown',thisRecord)" href="#">
        <i id="FlockChecklist_DetailID" class="csb-center-icon material-icons ng-binging ng-scope">arrow_drop_down</i>
    </a>
</div>