<div style="width:96px;" class="center" >
    <a name="LinkValue" ng-if="thisRecord.newRecord=='0'" id="LinkValue" href="Form.html?screenID=FlockChecklist_Detail&amp;p={{thisRecord.FlockChecklist_DetailID}}&amp;p={{thisRecord.FlockChecklistID}}">
        <i id="LinkValue" class="center material-icons ng-binging ng-scope">mode_edit</i>
    </a>
    <a name="LinkValue" ng-if="thisRecord.newRecord=='1'" id="LinkValue" href="runProcess.aspx?screenID=NewFlockChecklist_Detail&amp;p={{thisRecord.FlockChecklistID}}&amp;p={{thisRecord.Checklist_DetailTypeID}}">
        <i id="LinkValue" class="center material-icons ng-binging ng-scope">control_point</i>
    </a>
</div>