<!DOCTYPE html>
<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width">
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="CargasSolutionBuilderAngular">
<head>
    <title></title>
    <link rel="icon" href="solution/images/favicon.ico">

    <script type="text/javascript" src="js/jquery/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/jquery/jquery.validate.js"></script>
    <script type="text/javascript" src='js/solution-builder.js'></script>

    <script type="text/javascript" src='solution/custom.js'></script>

    <script src="js/quartzMenu.js"></script>

    <script src="js/angularjs/angular.min.js"></script>
    <script src="js/dirPagination.js"></script>

    <script src="js/angularjs/angular-animate.min.js"></script>
    <script src="js/angularjs/angular-aria.min.js"></script>
    <script src="js/angularjs/angular-messages.min.js"></script>
    <script src="js/angularjs/angular-material.min.js"></script>

    <script src="js/angularjs/ngStorage.js"></script>
       

    <link rel="stylesheet" href="css/jquery-ui.min.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="css/angular-material.min.css">
    <link rel="stylesheet" href="css/angular-material.font.css">
    <link rel="stylesheet" href="css/solutionBuilder.css">
    <link rel="stylesheet" href="solution/custom.css" type="text/css" />

    <link href="css/quartzMenu.css" rel="stylesheet" />

    <script src="js/csbAngularUI.js"></script>
    <script src="js/csbAngularList.js"></script>
    <style ng-controller="initializeCargasCSS as initCSS" csb-material-design-css>
    </style>


</head>
<body layout="column" ng-controller="DataController as data" ng-class="{mobile:$mdMedia('sm')||$mdMedia('xs')}">
    <!--could use ngInclude, but want to stick with using directives-->
    <div class="app-bar" ng-if="!data.screenPropertySet.noMenu">
        <app-bar></app-bar>
    </div>
    
    <div layout="row" layout-padding ng-class="{noMenu:data.screenPropertySet.noMenu}" class="mainContainer">

        <!--ng-controller="csbFormController as formCtrl"-->
        <!--<div flex="100" ng-if="data.errorMessages">{{data.errorMessages}}</div>-->
        <!-- may need to separate the layout container from the form container  -->
        <!-- flex-sm="100" flex-gt-sm="90" flex-gt-md="70" flex-gt-lg="50" -->
        <!-- very wide dropdown is settign width of "responsive" relayout...-->

        <div id="leftContentContainer" hide-sm hide-xs ng-if="data.screenPropertySet.hasLeftNav&&!data.screenPropertySet.noMenu&&!data.screenPropertySet.noLeftMenu&&!$mdMedia('sm')&&!$mdMedia('xs')" class="md-whiteframe-z2 leftMenu">
            <nav-content hide-sm hide-xs class="navcontent"></nav-content>
            <div id="cssleftmenu" hide-sm hide-xs class="nav-sidebar" csb-left-menu>loading...</div>
        </div>

        <!--reorganize the search button to be inside a div and/or part of the find-control-->
        <div id="fullContent" style="width:100%;" class="fullContent" ng-class="{noLeftNav:!data.screenPropertySet.hasLeftNav}">
            <div class="contextBar">
                <context-bar></context-bar>
            </div>
            <div ng-if="!data.screenPropertySet.noMenu" class="appBarPlaceholder"></div>
            <div ng-if="!data.screenPropertySet.noContext" class="contextBarPlaceholder"></div>
            <div flex="{{data.screenPropertySet.hasLeftNav?95-data.screenPropertySet.leftNavFlexWidth:100}}" fl flex-sm="100" class="mainContentContainer">

                <h1 class="md-title" ng-bind-html="data.screenPropertySet.displayName | unsafe" ng-show="data.screenPropertySet.displayName.length>0 && data.screenPropertySet.displayName.toLowerCase().indexOf('fieldname')!=0"></h1>
                <h1 class="md-title" ng-bind-html="data.records[0][data.screenPropertySet.displayName.substring(10,100)] | unsafe" ng-show="data.screenPropertySet.displayName.toLowerCase().indexOf('fieldname')==0"></h1>
                <form name="csbForm" novalidate>
                    
                    <md-content layout-padding class="md-whiteframe-z2" style="font-size: smaller; overflow:hidden;" ng-show="data.screenPropertySet.hasFilter">
                        <find-control this-record="data.filterSet" dropdown-j-s-o-n="dropdownJSON" parent-data="data"></find-control>
                        <md-button type="submit" ng-hide="data.screenPropertySet.isAutoPostBack" class=" md-primary" ng-click="data.callLoadData()" style="font-size: smaller">{{data.screenPropertySet.findDisplayName}}</md-button><br />
                    </md-content>
                    <div>
                        &nbsp;
                    </div>
                    <!--NOTE: custom directives do funny things when an element inside TR so make it an attribute-->
                    <!-- ng-model-options="{debounce: 200}"  -->
                    <input type="text" ng-model="data.searchString" placeholder="quick search..." class="csb-quick-search" ng-if="data.screenPropertySet.hideSearch!='true'" />
                    <md-button ng-controller="mainDialog as mainDialog" style="font-size: inherit; height: 24px; min-height:24px; line-height: 24px; margin: 0px; min-width: inherit; width: auto; padding:0px;" ng-click="mainDialog.singleRecordTemplate('TemplateHtml/AdvancedFilter.html', data, $event)">
                        <i class="material-icons" style="font-size: 20px">search</i>
                        <md-tooltip>Advanced Search</md-tooltip>
                    </md-button>

                    <span style="float:right; font-size: smaller" ng-if="data.screenPropertySet.hidePaging!='true'">
                        Records per page:
                        <select ng-model="data.pageSize">
                            <option ng-if="data.records.length>20" value="10">10</option>
                            <option ng-if="data.records.length>50" value="25">25</option>
                            <option ng-if="data.records.length>100" value="50">50</option>
                            <option ng-if="data.records.length>200" value="100">100</option>
                            <option ng-if="data.records.length>1000" value="500">500</option>
                            <option ng-if="data.records.length>2000" value="1000">1000</option>
                            <option ng-if="data.records.length<5000" value="{{data.records.length}}">All</option>
                        </select>
                    </span>
                    <!--<table class="table table-striped table-bordered table-condensed md-default-theme">
                        <thead>
                            <tr table-header-content-main="data"></tr>
                        </thead>
                        <tr table-body-content-main="" dir-paginate="thisRecord in data.records | filter:data.searchString | orderBy: data.sortString:data.sortReverse | itemsPerPage: data.pageSize " current-page="data.currentPage"></tr>
                    </table>

                    <div>
                        <dir-pagination-controls boundary-links="true" template-url="TemplateHtml/dirPagination.tpl.html"></dir-pagination-controls>
                         <md-button class="md-button ng-scope md-default-theme" dropdown-j-s-o-n="dropdownJSON" ng-click="thisExport.Export_JSON_To_Excel(data.records, 'Export List', true, data.getAdvancedSearchFieldsFiltered(), data.searchString, data.sortString, dropdownJSON)" ng-controller="exportToExcel as thisExport" style="float:right; font-size: inherit; height: 24px; min-height:24px; line-height: 24px; margin: 0px; min-width: inherit; width: auto; padding:0px;">
                        <i class="material-icons ng-scope">file_download</i>
                            <div class="md-ripple-container"></div>
                        </md-button>
                    </div>-->
                    <table table-content-main="table-content-main" class="table table-striped table-bordered table-condensed md-default-theme">
                    </table>
                    <div>
                        <dir-pagination-controls boundary-links="true" template-url="TemplateHtml/dirPagination.tpl.html"></dir-pagination-controls>
                        <md-button class="md-button ng-scope md-default-theme" dropdown-j-s-o-n="dropdownJSON" ng-click="thisExport.Export_JSON_To_Excel(data.records, 'Export List', true, data.getAdvancedSearchFieldsFiltered(), data.searchString, data.sortString, dropdownJSON)" ng-controller="exportToExcel as thisExport" style="float:right; font-size: inherit; height: 24px; min-height:24px; line-height: 24px; margin: 0px; min-width: inherit; width: auto; padding:0px;">
                            <i class="material-icons ng-scope">file_download</i>
                            <div class="md-ripple-container"></div>
                        </md-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
        <div id="lookupDialog"></div>
</body>
</html>
