<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections> 

              <!--test -->   
  <system.web>                    
    <httpRuntime requestValidationMode="2.0" requestPathInvalidCharacters="" executionTimeout="100000" maxRequestLength="214748364" />
    <httpHandlers>               
      <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource" validate="false" />
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false" />
      <add path="Telerik.Web.UI.SpellCheckHandler.axd" type="Telerik.Web.UI.SpellCheckHandler" verb="*" validate="false" />
      <add verb="*" path="*.rpx" type="GrapeCity.ActiveReports.Web.Handlers.RpxHandler, GrapeCity.ActiveReports.Web.v7, Version=7.3.7973.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.rdl,*.rdlx" type="GrapeCity.ActiveReports.Web.Handlers.RdlxHandler, GrapeCity.ActiveReports.Web.v7, Version=7.3.7973.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ar7" type="GrapeCity.ActiveReports.Web.Handlers.ReportBinariesStreamer, GrapeCity.ActiveReports.Web.v7, Version=7.3.7973.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ar7Web" type="GrapeCity.ActiveReports.Web.Handlers.WebCacheAccessHandler, GrapeCity.ActiveReports.Web.v7, Version=7.3.7973.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
      <add verb="*" path="*.ActiveReport" type="GrapeCity.ActiveReports.Web.Handlers.CompiledReportHandler, GrapeCity.ActiveReports.Web.v7, Version=7.3.7973.0, Culture=neutral, PublicKeyToken=cc4967777c49a3ff" />
    </httpHandlers>  
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation defaultLanguage="vb" debug="true" targetFramework="4.5.1">
      <assemblies>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
        <add extension=".htm" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
          Set customErrors mode="On" or "RemoteOnly" to enable custom error messages, "Off" to disable. 
          Add <error> tags for each of the errors you want to handle.
    -->
    <customErrors mode="Off" defaultRedirect="errorDisplay.aspx" />

    <authentication configSource="solution\authenticationSettings.config" />
    <authorization>
      <deny users="?" />
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  GLOBALIZATION
          This section sets the globalization settings of the application. 
    -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <!--turn off validation during development, turn back on when deploy 
    -->
    <pages validateRequest="false" enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="Static" />
    <identity impersonate="true" />

  </system.web>
  <location path="DataLoad/DataLoad.aspx">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <appSettings file="solution\applicationSettings.config">
    <add key="SolutionBuilderVersion" value="2018.02.08" />
    <!-- Site Header Settings - OVERRIDE IN applicationSettings.config -->     
    <add key="HideSiteLogo" value="false" />
    <add key="SiteLogo" value="images\logo.png" />
    <add key="HideSiteTitle" value="false" />
    <add key="SiteTitle" value="SolutionBuilder 2018" />
    <!-- Choose what displays on small screens. Valid values are: title, logo, both -->
    <add key="XSHeaderDisplay" value="both" />                      
    <add key="ReportFormats" value="PDF,ActiveReports,Excel,RTF" />
    <add key="ReportFormatDefault" value="PDF" />
    <add key="rdl_ReportFormats" value="Excel,PDF" />
    <add key="rdlc_ReportFormats" value="Excel,PDF" />
    <add key="rdlc_ReportFormatDefault" value="PDF" />
    <add key="defaultReportViewer" value="reportViewerAR.aspx" />
    <add key="rdl" value="reportViewerSSRS.aspx" />
    <add key="rdlc" value="reportViewerSSRS.aspx" />                    
    <add key="appName" value="" />  
    <add key="RemoteHost" value="false" />
    <add key="connStringIntegrated" value="Integrated Security=SSPI;Initial Catalog=ChickHen;Data Source=KEVINA-2018\SQL2016" />
    <add key="connStringErrors" value="Integrated Security=SSPI;Initial Catalog=ChickHen;Data Source=KEVINA-2018\SQL2016" />
    <add key="xmlGlobal" value="~\solution\xml\global.xml" />
    <add key="rptUser" value="report" />
    <add key="rptPwd" value="report" />                       
    <add key="rptDefaultHeader" value="include\reportHeader.inc" />
    <add key="rptDefaultFooter" value="include\reportFooter.inc" />
    <add key="autoReportURL" value="autoViewer.aspx?Report=1" />
    <add key="autoReportLogo" value="images\logosmallreport.gif" />
    <add key="autoPDFURL" value="autoPDF.aspx" />                      
    <add key="DataDynamicsARLic" value="Emma Groff,Cargas Systems Inc,DD-ARN-20-EU00183,B99QK5M9764ZMBPMQ95C" />      
    <add key="xmlMenu" value="solution\xml\menuXML\menu.xml" />
    <!--<add key="xmlLeftMenu" value="solution\xml\menuXML\leftMenu.xml" />-->
    <add key="xmlScreen" value="solution\xml\menuXML\screen.xml" />
    <add key="defaultMenu" value="solution/xml/menuXML/menu.xml" />
    <!--<add key="defaultLeftMenu" value="solution/xml/menuXML/leftMenu.xml" />-->
    <add key="defaultMenuID" value="FullMenu" />
    <!--<add key="defaultLeftMenuID" value="LeftMenu" />-->
    <add key="defaultMenuDirectory" value="solution\xml\menuXML" />
    <add key="cConnectCommandTimeout" value="180" />
    <add key="displaySettings" value="FullHeaderScreen" />
    <add key="SlidingExpirationSeconds" value="300" />
    <add key="DictionaryFolder" value="dic" />
    <add key="versionNumber" value="2.5.8" />

    <add key="Image-Refresh" value="images\refresh.png" />
    <add key="Image-Calendar" value="images\calendar__minus.png" />
    <!--<add key="Edit" value="images\edit.gif" />-->
    <add key="goTo" value="images\goTo.gif" />
    <add key="ReadOnly" value="images\ReadOnly.gif" />
    <add key="Delete" value="images\delete.gif" />
    <add key="Comment" value="images\comment.gif" />
    <add key="CopyImage" value="images\copy.gif" />
    <!--<add key="Copy" value="images\copy.gif" />-->
    <add key="printEmployee" value="images\printEmployee.gif" />
    <add key="Printer" value="images\print.gif" />
    <add key="Status_Blue" value="images\bullet_ball_blue.gif" />
    <add key="Status_Red" value="images\bullet_ball_red.gif" />
    <add key="Status_Green" value="images\bullet_ball_green.gif" />
    <add key="Status_Yellow" value="images\bullet_ball_yellow.gif" />
    <add key="Warning" value="images\warning.gif" />
    <add key="Wizard" value="images\wizard.gif" />
    <add key="New" value="images\new.gif" />
    <add key="newRecord" value="images\new.png" />
    <add key="Ok" value="images\Ok.gif" />
    <add key="Check" value="images\Check.gif" />
    <add key="Critical" value="images\Critical.gif" />

    <add key="helpScreenID" value="ProcessStepDocumentation" />
    <add key="editScreenID" value="csiScreenIDForidPreProcess" />
    <add key="overrideDBReadOnly" value="true" />
    <add key="DoNotCheckAccessOnSet" value="true" />
    <add key="doNotLoadOnFindSQLDropDown" value="false" />
    <add key="doNotLoadFindSQLResultsOnGet" value="false" />
    <add key="AllowViewAll" value="true" />
    <add key="useIntelligentFormLayout" value="true" />
    <!-- Begin Security Settings -->
    <add key="securityScreenID" value="SecurityScreenForScreenIDPreProcess" />
    <add key="SecurityProvider" value="bin\csi.Framework.dll|csi.Framework.Security.SecurityDataProvider" />
    <add key="SecurityMethod" value="SecurityProvider" />
    <!-- End Security Settings -->
    <add key="DefaultPermission" value="allow" />
    <add key="validateEmptyFields" value="true" />
    <add key="UseRadDatePicker" value="True" />
    <!-- changes paging style on grid. vaild entries: NumericPages, NextPrev -->
    <add key="GridPagingStyle" value="NumericPages" />
    <add key="ApplicationSchema" value="dbo" />
    <add key="GroupUserXML" value="./solution/xml/menuXML/groupUser.xml" />
    <add key="ResourceXML" value="./solution/xml/menuXML/resource.xml" />
    <add key="ActiveReports Developer 7 License" value="bSYNGtwoWAWndFnOMi68LDMqLvCUKrjiaV58y1uC15it6pqlvE56aylWVjeirS5z5RkaozFg7lfI2CmyUKYy67LfjZn80ylnXP5w4CKGnfk+FVEvCma1e4iM5OfYCEtqCt7rffCEHOoUi6bkg6k3Q+Vf1Ek7x9JyoJM3/W5eX4dxyfhjVaIQIeNxVOEtczdf+k1yBd8tw8+gLzjCOp/FOOMDZ+8vHQfYNOqAFqMEIEjdnYReKbf6U5UxOqPU9m6PGRYUkpVBhkXguvUCox0TWf6f147BRqkvuFGBKLP6ocUAatpZXNrH7hW1ZsxV9b1S" />
    <add key="aspnet:MaxHttpCollectionKeys" value="8000" />
    <add key="createNewTablePerSection" value="false" />
    <add key="rightAlignMenu" value="true" />
    <add key="readOnlyOneWayBinding" value="true" />
    <!-- Begin Default Support Settings, Override in applicationSettings.config -->
    <add key="LogActivity" value="false" />
    <add key="LogActivityVerbose" value="false" />
    <add key="LogExceptions" value="false" />
    <add key="LogValidationSqlExceptions" value="false" />
    <add key="LogRequestPerformance" value="false" />
    <add key="LogRequestResourcePerformance" value="false" />
    <add key="LogSqlCallPerformance" value="false" />
    <add key="LogFileReadPerformance" value="false" />
    <add key="LogOtherPerformance" value="false" />
    <add key="LogPerformanceVerbose" value="false" />
    <add key="LogPerformanceLogPerformance" value="false" />
    <!-- End Support Settings -->    
  </appSettings>
  <system.webServer>      
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="HTML" path="*.html" verb="GET, HEAD, POST, DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" />
      <add name="HTM" path="*.htm" verb="GET, HEAD, POST, DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" />
      <!--add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" /-->
      <!--<add name="AR7Rpx" path="*.rpx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"/>
      <add name="AR7Rdlx" path="*.rdlx" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"/>
      <add name="AR7Rdl" path="*.rdl" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"/>
      <add name="AR7" path="*.ar7" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"/>
      <add name="AR7Web" path="*.ar7Web" verb="*" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll"/>-->
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension="woff" mimeType="application/font-woff" />
      <mimeMap fileExtension="woff2" mimeType="application/font-woff" />
    </staticContent>

  </system.webServer>

</configuration>